@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap');
@import url('./css/Index.css');
@import url('./css/Projeto.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F8F8F8;
}

.menu {
  display: flex;
  align-items: center;
  min-height: 15vh;
  justify-content: space-between;
  width: 100%;
}

.menu .logo {
  display: block;
  max-width: 15%;
}

.menu{
  display: flex;
  justify-content: space-between;
}

nav ul{
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #03045E;
}

nav a {
  transition: 0.5s;
  text-decoration: none;
  margin-right: 2vw;
}

nav a:hover {
  color: #0077B6;
}

.menu nav ul #login{
  background-color: #0077B6;
  color: #fff;
  padding: 0.5vw 3vw;
  border-radius: 40px;
  font-weight: 580;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid transparent;
}

@media only screen and (max-width: 600px) {
  .menu{
    max-width: 500px;
  }
}